<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    https://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util
    https://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/aop
    https://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/mvc
    https://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" />

  <!-- Spring will fail if an Autowired field is not satisfied -->
  <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
  <context:component-scan base-package="com.lancethomps.lava.common"/>

  <bean id="requestThrottle" class="com.lancethomps.lava.common.web.throttle.RequestThrottle"/>

  <mvc:annotation-driven/>
  <mvc:interceptors>
    <ref bean="requestThrottle"/>
  </mvc:interceptors>

</beans>
